---
layout: default
---
{% for post in paginator.posts %}
	{% if post.comments %}
	<script type="text/javascript">
	  var disqus_shortname  = 'floriangeierde'; // required: replace example with your forum shortname

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
	</script>
	{% endif %}
	<article class="{% if post.art == 'image' %}image{% else %}text{% endif %}">
		<h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
		<p class="date">{{ post.date | date: "%d.%m.%Y" }}{% if post.comments %} - <a href="{{ site.url }}{{ post.url }}#disqus_thread"></a>{% endif %}</p>
		<p>{{ post.content }}</p>
	</article>
{% endfor %}<br />
<br />
{% if paginator.previous_page > 0 %}
<div class="paginator">
	<div class="prev">
	{% if paginator.previous_page > 0 %}
		{% if paginator.previous_page == 1 %}
		<a href="/"><span>zurück</span></a>
		{% else %}
		<a href="/page/{{ paginator.previous_page }}"><span>zurück</span></a>
		{% endif %}
	{% endif %}
	</div>
	<div class="page">
		{% if paginator.total_pages > 1 %}
		<span>{{ paginator.page }} / {{ paginator.total_pages }}</span>
		{% endif %}
	</div>
	<div class="next">
	{% if paginator.next_page > 0 %}
		<a href="/page/{{ paginator.next_page }}"><span>weiter</span></a>
	{% endif %}
	</div>
</div>
{% endif %}