$font-family: 'Yanone Kaffeesatz', sans-serif;
$font-size: 120%;

$color-default: #666666;
$color-blue: #09C;
$color-blue-hover: transparentize($color-blue, 0.8);
$color-description: transparentize($color-default, 0.1);

$shadow-blue: transparentize($color-default, 0.8);
$shadow-description: transparentize($color-default, 0.9);

* { margin: 0; padding: 0; border: 0; }

body {
	color: $color-default;
	font-family: $font-family;
	font-size: $font-size;
	padding: 80px 0 0 60px;
	
	.header {
		line-height: 1.4em;
	
		h1 {
			font-weight: 400;
			text-transform: uppercase;
			/* text-shadow: $shadow-blue 2px 2px 0; */
			
			a {
				color: $color-blue;
				text-decoration: none;
			}
			
			b { font-weight: 700; }
		}
		
		.subtitle {
			color: $color-description;
			/* text-shadow: $shadow-blue 2px 2px 0; */
		}
	}
	
}