{% include header.html %}
			<article class="{% if page.art == 'image' %}image{% else %}text{% endif %}">
				<h2><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></h2>
				<p class="date">{{ page.date | date: "%d.%m.%Y" }}</p>
				<p>{{ page.content }}</p>
			</article>
			{% if page.comments %}
			<article id="disqus_thread" class="text"></article>
			<script type="text/javascript">
				  var disqus_shortname  = 'floriangeierde'; // required: replace example with your forum shortname
				  var disqus_title      = '{{ page.title }}';
				  var disqus_identifier = '{{ page.url }}';
				  var disqus_url        = '{{ site.url }}{{ page.url }}';
				  
				  (function() {
				  	var dsq = document.createElement('script');
				  	dsq.type = 'text/javascript';
				  	dsq.async = true;
				    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				  })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<div class="dsq-copy">
				<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
			</div>
			{% endif %}
{% include footer.html %}